@import "./components/chatBody.css";
@import "./components/chatInput.css";

#chat {
  height: 80vh;
}

#chat-body {
  display: flex;
  flex-direction: column;
}

.scrollarea::-webkit-scrollbar,
#chat-body::-webkit-scrollbar {
  width: 6px;
}

.scrollarea::-webkit-scrollbar-thumb,
#chat-body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.hidden {
  display: none !important;
}
